html {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

.btn:hover {
  cursor: pointer;
}

.btn:active,
.btn:focus {
  outline: none;
  box-shadow: none;
}

.quotation-marks {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  display: inline;
}

.dir-button-div {
  width: 75px;
  display: flex;
}

.dir-button {
  background-color: Transparent;
  background-repeat: no-repeat;
  overflow: hidden;
}

.dir-icon {
  color: #ffffff;
}

#quote-box {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 25px;
  text-align: center;
}

#color-name {
  font-size: 30px;
  display: inline;
}

/* #color-hex {
  font-size: 20px;
  display: inline;
} */

#refresh {
  color: #ffffff;
}

#left-button-div {
  padding: 0px 10px 0px 0px;
  justify-content: flex-end;
}

#right-button-div {
  padding: 0px 0px 0px 10px;
}